.container {
  padding: 50px;
}

.top {
  margin-bottom: 100px;
}

h2 {
  color: #3e2559;
  font-size: 42px;
}

h3 {
  color: #3e2559;
  font-size: 32px;
  text-decoration: underline;
  margin-top: 25px;
  margin-bottom: 10px;
}

li {
  list-style-type: none;
  padding: 3px;
  color: #6b7c94;
  text-decoration: underline;
}

a {
}
